   body{
    background-color:#141414;
    font-family: 'Roboto', sans-serif;
    margin: 0;

   }
   
   
h2{
    color: white;
    font-size: 50px;
    text-align: center

   }
   
   
 .sobre1{
    display:flex;

    }
    
.sobre1 .img-sobre1{
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
    right: 30px;
    
}
.sobre1 .txt-sobre1{
    color: rgb(255, 255, 255); 
    right: 800px;

}

.sobre2{
    display:flex;

    }
    
.sobre2 .img-sobre2{
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
    right: 30px;
    
}
.sobre2 .txt-sobre2{
    color: rgb(255, 255, 255); 
    right: 800px;

}

.sobre3{
    display:flex;

    }
    
.sobre3 .img-sobre3{
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
    right: 30px;
    
}
.sobre3 .txt-sobre3{
    color: rgb(255, 255, 255); 
    right: 800px;

}

.sobre4{
    display:flex;

    }
    
.sobre4 .img-sobre4{
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
    right: 30px;
    
}
.sobre4 .txt-sobre4{
    color: rgb(255, 255, 255); 
    right: 800px;

}

.sobre5{
    display:flex;

    }
    
.sobre5 .img-sobre5{
    padding-left: 90px;
    padding-top: 15px;
    position: relative;
    right: 30px;
    
}
.sobre5 .txt-sobre5{
    color: rgb(255, 255, 255); 
    right: 800px;

}

.btn {
    display: inline-block;
    padding: 0.8rem 0; /* Reduzi o padding */
    width: 15rem; /* Reduzi a largura */
    font-size: 1.6rem; /* Reduzi um pouco o tamanho da fonte */
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); /* Transparência para combinar com o estilo */
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Adicionando uma borda sutil */
    position: fixed; /* Fixa o botão na tela */
    right: 20px; /* Posiciona a 20px da direita */
    top: 20px; /* Posiciona a 20px do topo */
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem rgba(229, 9, 20, 0.5); /* Efeito de hover mais suave */
    transform: translateY(-0.1rem);
}






